button {
	border-color: var(--text8Color);
	background-color: var(--text8Color);
	border-radius: 0;
	padding: 0px 16px;
	height: 60px;
}

button:hover {
	cursor: pointer;
	box-shadow: 0px -3px 0px 0px var(--keyText5Color) inset;
}

button:focus {
	outline: none;
}
