button {
	border-color: var(--text8Color);
	background-color: var(--text8Color);
	border-radius: 0;
	padding: 0px 16px;
	height: 60px;
}

button:hover {
	cursor: pointer;
	border-bottom: 3px solid var(--keyText5Color);
}

button:focus {
	outline: none;
	border-left: 1px solid var(--text8Color);
	border-top: 1px solid var(--text8Color);
}
