button {
	border-color: var(--text8Color);
	background-color: var(--text8Color);
	border-radius: 0;
	padding: 0px 16px;
	font-family: "Lucida Grande";
	font-size: 16px;
	line-height: 1;
	margin-bottom: 0;
	height: "60px";
	border: 0;
}

button:hover {
	box-shadow: 0px -3px 0px 0px var(--keyText4Color) inset !important;
	color: var(--keyText4Color) !important;
}

/* removes underline from word in button */
a:focus {
	text-decoration: none;
}

/* for the matches and conversations button because the badge gets in the way */
div {
	font-family: "Lucida Grande";
	font-size: 16px;
	line-height: 1;
	margin-bottom: 0;
}

button:hover div {
	color: var(--keyText4Color) !important;
}
