/* border color for InputTimeZone */
.ant-cascader-input {
  border-color: var(--time-zone-color);
}

/* color for entire cascade */
.ant-cascader-menus {
  background: var(--time-zone-color);
}

/* highlight color for specific country timeZone */
.ant-cascader-menu-item:hover {
  background: var(--time-zone-highlight-color);
}

/* initial highlight color for country */
.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
  background: var(--time-zone-highlight-color);
}

/* test rgb(127, 127, 127)*/
.ant-cascader-picker {
  color: var(--time-zone-text-color);
  background-color: var(--time-zone-text-color);
}

.ant-cascader-input.ant-input {
  background-color: var(--time-zone-text-color);
}

.ant-cascader-picker-with-value .ant-cascader-picker-label {
  color: var(--time-zone-text-color);
}

.ant-cascader-picker-disabled {
  background: var(--time-zone-text-color);
  color: var(--time-zone-text-color);
}

.ant-cascader-picker:focus .ant-cascader-input {
  border-color: var(--time-zone-text-color);
  -webkit-box-shadow: 0 0 0 2px var(--time-zone-text-color);
  box-shadow: 0 0 0 2px var(--time-zone-text-color);
}

.ant-cascader-picker-clear {
  background: var(--time-zone-text-color);
  color: var(--time-zone-text-color);
}

.ant-cascader-picker-clear:hover {
  color: var(--time-zone-text-color);
}

.ant-cascader-picker-arrow {
  color: var(--time-zone-text-color);
}

.ant-cascader-menu {
  border-right: 1px solid var(--time-zone-text-color);
}

.ant-cascader-menu:last-child {
  border-right-color: var(--time-zone-text-color);
}

.ant-cascader-menu-item-disabled {
  color: var(--time-zone-text-color);
}

.ant-cascader-menu-item-disabled:hover {
  background: var(--time-zone-text-color);
}

.ant-cascader-menu-item-expand:after {
  color: var(--time-zone-text-color);
}

.ant-cascader-menu-item .ant-cascader-menu-item-keyword {
  color: var(--time-zone-text-color);
}
