.input-field-input {
	line-height: 40px;
	box-shadow: none;
	font-size: 16px;
	padding: 0px 0px 0px 10px;
	width: 100%;
	border: transparent;
	border-radius: 4px;
}

.input-field-input:focus {
	outline: none;
}
