/* .ant-table-content {
  border-color: rgb(127, 127, 127);
  background-color: var(--table-border-color);
  color: var(--table-text-color);
}
.ant-table-thead {
  border-color: rgb(127, 127, 127);
  background-color: rgb(127, 127, 127);
  color: rgb(127, 127, 127);
}

.ant-table-wrapper {
  border-color: rgb(127, 127, 127);
  background-color: rgb(127, 127, 127);
  color: rgb(127, 127, 127);
}

.ant-table-medium {
  border-color: rgb(127, 127, 127);
  background-color: rgb(127, 127, 127);
  color: rgb(127, 127, 127);
}

.ant-table {
  border-color: rgb(127, 127, 127);
  background-color: rgb(127, 127, 127);
  color: rgb(127, 127, 127);
}

.ant-table-bordered {
  border-color: rgb(127, 127, 127);
  background-color: rgb(127, 127, 127);
  color: rgb(127, 127, 127);
} */
